// --------------------------------------------------
// StyleGuide Page
// --------------------------------------------------

.styleguide {

  &__component {
    @include clearfix;
    @include vertical-spacing(margin,20);
  }

  &__title {
    font-size: $h3-font-size;
    border-bottom: 1px solid #ddd;
    padding-bottom: rem-calc(10);
    margin: 0;
  }

  &__content {
    @include clearfix;
    @include vertical-spacing(margin, 15, top-only);
  }
}